---
const title = "Li Yan";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/webp" href="/favicon.webp" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=VT323&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
    <meta name="description" content="Li Yan's Webpage." />
    <meta name="keywords" content="Li Yan, 立言, liyanqwq, Leo ZHAO" />
    <meta name="generator" content={Astro.generator} />
    <style>
      .backlay {
        background: linear-gradient(45deg, #00000089, #000000ff),
          linear-gradient(30deg, #000000, #646464, #000000);
      }
      ::-scrollbar {
        width: 0 !important;
        display: none !important;
      }
    </style>
  </head>
  <body
    ondragstart="return false;"
    class="font-mono w-screen h-screen overflow-hidden leading-relaxed tracking-wider text-white select-none flex items-center justify-center"
  >
    <div
      class="prose w-5/6 h-5/6 max-w-4xl bg-[rgba(255,255,255,0.04)] backdrop-blur-lg rounded-2xl shadow-xl overflow-hidden"
    >
      <div
        class="h-8 flex px-8 bg-[#ffffff06] items-center justify-between leading-1"
      >
        <div class="text-shadow opacity-40">Console</div>
        <div class="opacity-20 hover:opacity-30">X</div>
      </div>
      <div class="px-8 pt-4 pb-8 overflow-x-hidden">
		<div class="opacity-90"><span class="text-green-500">liyanqwq@PolyU</span>:<span class="text-blue-500">~</span>$ status</div>
		<br />
		<div class="mb-4 flex justify-center">
<div class="whitespace-pre leading-none text-transparent md:leading-none md:text-[0.55rem] text-[0.4rem] md:mt-2 bg-clip-text bg-gradient-to-br from-pink-200 via-blue-50 to-blue-300">&emsp;&nbsp;.=*#+                                              -#@%=                   
  .+@@@@%.        =*=.:=-.                           :#@@@@*                   
  *@%*@@%.       :@@@@@@@*                         .+@@##@@*                   
   . :@@@.        :%@@@%+                         :%@@+ +@@*                   
     :@@@.          -+-                  :=:     =@@@-  +@@#       -+-           
     :@@@.          .+*.      #%#:      +@@%    +@@%:   =@@#      .@@@.:*%%%#=.  
     :@@@.          +@@+      =@@@+    *@@#.   -@@@+====*@@%++=    %@@#@@%*#@@%- 
     :@@@:          =@@*       :#@@%-.#@@*     +@@@@@@@@@@@@@@%.   #@@@@+   -@@@.
     .@@@:          -@@#         -#@@@@@+       ........-@@@.      *@@@-     #@@:
     .@@@:          :@@%           +@@@=                :@@@.      +@@#      #@@:
  ....@@@-::        .@@@.         :@@@=                 :@@@.      -@@#      %@@.
 -@@@@@@@@@@#        #@%.        :@@@-                  .%@@.      .#%+     .@@@.
  -=++=====-.        ..         -@@%:                    .-:                 :-: 
                               =@@%:                                         
                               .=-.                              </div></div>
        <div class="opacity-40 hover:opacity-50 mb-4 text-center hidden sm:block">
          - Across the Great Wall, we can reach every corner in the world. -
        </div>
		<div class="opacity-40 text-center block sm:hidden">
			- Hello World! -
		  </div>
		<br />
        <a
          href="//blog.liyan.moe"
          target="_blank"
          rel="noopener noreferrer"
          class="block opacity-90 hover:opacity-100 hover:underline-offset-4 hover:underline hover:decoration-dotted"
          >&gt; blog</a
        >
        <a
          href="//cv.leozhao.org"
          target="_blank"
          rel="noopener noreferrer"
          class="block opacity-90 hover:opacity-100 hover:underline-offset-4 hover:underline hover:decoration-dotted"
          >&gt; resume</a
        >
      </div>
    </div>
    <div class="fixed -z-10 backlay w-screen h-screen left-0 top-0"></div>
  </body>
</html>
